/* line 5, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

/* line 14, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.container {
  max-width: 100%;
}

/* ---------------HEADER----------------*/
/* line 21, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#redes {
  background-color: rgba(0, 0, 0, 0.852);
  display: flex;
  flex-direction: row;
}

/* line 28, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.col-4 a i {
  color: whitesmoke;
  font-size: larger;
  transition: transform 0.3s;
}

/* line 34, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.iconos-redes {
  transition: o 0.3s;
}

/* line 36, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.iconos-redes:hover {
  transform: scale(1.1);
}

@media (min-width: 992px) {
  /* line 44, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .navbar-expand-lg {
    flex-wrap: wrap;
  }
}

/* line 49, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.navbar {
  background-color: #db1212 !important;
}

/* line 55, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor-logo {
  height: 5rem;
  background-color: #db1212;
  display: flex;
  justify-content: space-between;
}

/* line 60, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor-logo .logo {
  background-color: #db1212;
  padding: 1rem;
}

/* line 63, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor-logo .logo a {
  padding: 1rem;
  color: whitesmoke;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  filter: drop-shadow(5px 5px 10px #260000);
  transition: 0.3s;
}

/* line 73, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor-logo .logo a:hover {
  font-size: 2.5rem;
}

/* line 78, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor-logo .btn-carrito {
  margin-top: 2rem;
  margin-right: 2rem;
}

@media (max-width: 480px) {
  /* line 87, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor-logo .logo a {
    padding: 1rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  /* line 91, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor-logo .logo a:hover {
    font-size: 1.8rem;
  }
  /* line 96, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor-logo .btn-carrito {
    margin-top: 1rem;
    margin-right: 2rem;
  }
}

/* line 106, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.navbar-toggler {
  color: whitesmoke;
  border-color: whitesmoke;
}

/* line 111, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.navbar-nav {
  --bs-nav-link-color: whitesmoke;
}

/* line 116, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.nav-item :hover {
  font-weight: bold;
}

/* line 120, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.btn {
  color: whitesmoke;
  border-color: white;
}

/* line 125, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.btn-outline-success {
  --bs-btn-color: rgb(143, 9, 9);
  --bs-btn-border-color: rgb(143, 9, 9);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(143, 9, 9);
  --bs-btn-hover-border-color: whitesmoke;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(143, 9, 9);
  --bs-btn-active-border-color: rgb(143, 9, 9);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(143, 9, 9);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(143, 9, 9);
  --bs-gradient: none;
}

/* line 143, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.menuEnlaces {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.852);
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

/* line 149, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.menuEnlaces .enlace {
  text-align: center;
  font-size: 1.2vw;
  width: 12%;
  transition: 0.3s;
}

/* line 154, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.menuEnlaces .enlace:hover {
  transform: scale(1.2);
  background-color: rgba(187, 185, 185, 0.247);
}

/* line 159, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.menuEnlaces a {
  color: whitesmoke;
  text-decoration: none;
}

@media (max-width: 480px) {
  /* line 166, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .menuEnlaces .enlace {
    width: 30%;
    font-size: 3vw;
  }
  /* line 170, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .menuEnlaces:hover {
    transform: scale(1.1);
    background-color: rgba(187, 185, 185, 0.247);
  }
}

/* line 178, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#index {
  transform: scale(1.2);
  border-bottom: solid 2px whitesmoke;
}

/* line 183, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#ubicacion {
  transform: scale(1.2);
  border-bottom: solid 2px whitesmoke;
}

/* line 188, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#contacto {
  transform: scale(1.2);
  border-bottom: solid 2px whitesmoke;
}

/* line 193, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#nosotros {
  transform: scale(1.2);
  border-bottom: solid 2px whitesmoke;
}

/* line 198, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#productos {
  transform: scale(1.2);
  border-bottom: solid 2px whitesmoke;
}

/* line 202, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
#marcas {
  transform: scale(1.2);
  border-bottom: solid 2px whitesmoke;
}

/* line 209, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.subTitulo h1 {
  background-color: #db1212;
  color: whitesmoke;
  margin: 0;
  text-align: center;
  font-weight: bolder;
  font-size: 340%;
}

/* line 217, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.subTitulo h2 {
  background: rgba(0, 0, 0, 0.852);
  color: whitesmoke;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 100%;
  font-weight: bolder;
}

/* line 226, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.subTitulo h3 {
  background: #db1212;
  color: whitesmoke;
  margin: 0;
  text-align: center;
  font-weight: bolder;
  filter: drop-shadow(5px 5px 10px #260000);
}

/* ---------------MAIN----------------*/
/* line 245, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor {
  display: flex;
  flex-direction: column;
}

/* line 248, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor .titulo-principal {
  background-color: #db1212;
  color: whitesmoke;
  text-align: center;
  width: 100%;
}

/* line 253, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor .titulo-principal h1 {
  font-size: 4rem;
  font-weight: bold;
  filter: drop-shadow(5px 5px 10px #260000);
}

/* line 259, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor .ramos {
  background-color: rgba(0, 0, 0, 0.852);
  color: whitesmoke;
  text-align: center;
  width: 100%;
}

/* line 265, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.contenedor h2 {
  padding: 0.5rem;
  filter: drop-shadow(5px 5px 10px #260000);
}

@media (max-width: 480px) {
  /* line 274, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor .titulo-principal h1 {
    font-size: 3rem;
  }
  /* line 279, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor .ramos h2 {
    font-size: 3vw;
  }
}

@media (max-width: 991px) {
  /* line 288, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor .titulo-principal h1 {
    font-size: 3rem;
  }
  /* line 293, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .contenedor .ramos h2 {
    font-size: 3vw;
  }
}

/* line 302, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.articulo-completo {
  background-color: white;
  border: solid 1px #b2b2b2;
  transition: 0.3s;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 90%;
  text-align: center;
}

/* line 310, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.articulo-completo:hover {
  transform: scale(1.1);
}

/* line 313, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.articulo-completo a {
  color: black;
  text-decoration: none;
}

/* line 317, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.articulo-completo p {
  font-weight: bold;
  font-size: 130%;
}

/* line 322, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.articulo-completo .articulo-img img {
  max-width: 70%;
}

/* line 328, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.articulo :hover {
  font-weight: bold;
  color: #db1212;
  height: 100%;
}

/* line 334, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
button {
  background-color: #db1212;
  border-color: whitesmoke;
  color: whitesmoke;
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* line 346, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.boton :hover {
  font-weight: bold;
  background-color: #8f0909;
}

/* line 351, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.carrusel {
  max-width: 100%;
  overflow: hidden;
}

/* line 354, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.carrusel img {
  max-width: 100%;
  height: auto;
}

/* line 361, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.descripcion-articulo {
  background-color: white;
  text-align: center;
}

/* line 364, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.descripcion-articulo h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 369, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.descripcion-articulo p {
  margin-top: 1rem;
  font-size: 2rem;
  color: #db1212;
}

/* line 374, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.descripcion-articulo li {
  text-align: start;
}

/* line 377, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.descripcion-articulo img {
  margin-top: 2rem;
  max-width: 60%;
}

/* ---------------FOOTER----------------*/
/* line 389, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie-de-pagina {
  background-color: rgba(0, 0, 0, 0.852);
  padding-top: 1rem;
  text-align: center;
}

/* line 393, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie-de-pagina h3 {
  transition: 0.3s;
}

/* line 395, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie-de-pagina h3:hover {
  transform: scale(1.3);
}

/* line 399, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie-de-pagina a {
  color: whitesmoke;
  text-decoration: none;
}

/* line 405, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

/* line 409, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie .pie-font {
  transition: 0.3s;
}

/* line 411, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.pie .pie-font:hover {
  transform: scale(1.3);
}

/* line 417, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.iconos-redes-pie {
  font-size: 200%;
}

@media (max-width: 768px) {
  /* line 422, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .pie {
    display: flex;
    flex-direction: column;
  }
}

/* ---------------CONTACTO----------------*/
/* line 435, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.formulario {
  margin-top: 2rem;
}

/* ---------------UBICACION----------------*/
/* line 444, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.ubicacion {
  background-color: #f3f3f3;
}

/* line 446, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.ubicacion h1 {
  text-align: start;
}

/* line 449, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.ubicacion h2 {
  background-color: #db1212;
  color: whitesmoke;
}

/* line 456, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.local {
  background-color: #f3f3f3;
}

/* line 458, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.local .tabla {
  background-color: #f3f3f3;
}

/* line 461, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.local .mapa {
  background-color: #f3f3f3;
}

/* line 464, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.local iframe {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  /* line 471, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .local {
    display: flex;
    justify-content: space-evenly;
  }
  /* line 475, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .tabla {
    margin: 1rem;
  }
  /* line 478, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
  .mapa {
    margin: 1rem;
  }
}

/* ---------------NOSOTROS----------------*/
/* line 493, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.nosotros {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* line 498, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.nosotros img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  transition: 0.3s;
}

/* line 503, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.nosotros img:hover {
  transform: scale(1.1);
  filter: saturate(150%);
}

/* line 510, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.parrafo {
  background-color: #f3f3f3;
}

/* line 512, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.parrafo p {
  font-weight: normal;
  margin-top: 1rem;
}

/* ---------------AYUDA----------------*/
/* line 525, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.ayuda {
  margin: 2rem;
}

/* line 527, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.ayuda h1, .ayuda h2, .ayuda h3 {
  text-align: center;
  margin: 1.5rem;
  font-weight: bold;
}

/* line 532, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.ayuda li {
  margin-left: 3rem;
}

/* ---------------MARCAS----------------*/
/* line 544, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.galeria {
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* line 549, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.galeria img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  transition: 0.3s;
}

/* line 555, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.galeria img:hover {
  transform: scale(1.4);
  filter: saturate(200%);
}

/* line 562, ../tercerPreEntregaAlbertoLaitano/sass/styles.scss */
.titulo {
  background-color: #f3f3f3;
  margin: 2rem;
}

/*# sourceMappingURL=styles.css.map */