$colorPrincipal: rgb(219, 18, 18);
$colorSecundario: rgba(0, 0, 0, 0.852);
$colorFondo:rgb(243, 243, 243);

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $colorFondo;
}




.container {
    max-width: 100%;
}


/* ---------------HEADER----------------*/

#redes{
    background-color: $colorSecundario;
    display: flex;
    flex-direction: row;
    
}

.col-4 a i {
    color: whitesmoke;
    font-size: larger;
    transition: transform 0.3s;
    }

.iconos-redes {
    transition: o.3s;
    &:hover {
        transform: scale(1.1);
    }
}    



@media (min-width: 992px){
    .navbar-expand-lg {
        flex-wrap: wrap;
    }
}

.navbar {
    background-color: $colorPrincipal!important;
}



.contenedor-logo {
    height: 5rem;
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-between;
    .logo {
        background-color: $colorPrincipal;
        padding: 1rem;
            a {
                padding: 1rem;
                color: whitesmoke;
                font-size: 2rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                text-decoration: none;
                filter: drop-shadow(5px 5px 10px rgb(38, 0, 0));
                transition: 0.3s;
            
                &:hover  {
                    font-size: 2.5rem;
                } 
            }         
    } 
    .btn-carrito {
        margin-top: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 480px) {
    .contenedor-logo {
        .logo {
            a {
            padding: 1rem;
            font-size: 1.5rem;
            transition: 0.3s;
            &:hover  {
                font-size: 1.8rem;
            } 
            }         
        } 
        .btn-carrito {
            margin-top: 1rem;
            margin-right: 2rem;
        }
    }
      
}
  


.navbar-toggler {
    color: whitesmoke;
    border-color: whitesmoke;
}

.navbar-nav {
    --bs-nav-link-color: whitesmoke;
}


.nav-item :hover {
    font-weight: bold;
}

.btn {
    color: whitesmoke;
    border-color: white;
}

.btn-outline-success {
    --bs-btn-color: rgb(143, 9, 9);
    --bs-btn-border-color: rgb(143, 9, 9);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(143, 9, 9);
    --bs-btn-hover-border-color: whitesmoke;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(143, 9, 9);
    --bs-btn-active-border-color: rgb(143, 9, 9);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(143, 9, 9);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(143, 9, 9);
    --bs-gradient: none;    
}


.menuEnlaces {
    width: 100%;
    background-color: $colorSecundario;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    .enlace {
        text-align: center;
        font-size: 1.2vw;
        width: 12%;
        transition: 0.3s;
        &:hover {
            transform: scale(1.2);
            background-color: rgba(187, 185, 185, 0.247);
        }
    }
    a {
        color: whitesmoke;
        text-decoration: none;
    }
}


#index {
    transform: scale(1.2);
    border-bottom: solid 2px whitesmoke;
}

#ubicacion {
    transform: scale(1.2);
    border-bottom: solid 2px whitesmoke;
}

#contacto {
    transform: scale(1.2);
    border-bottom: solid 2px whitesmoke;
}

#nosotros {
    transform: scale(1.2);
    border-bottom: solid 2px whitesmoke;
}

#productos {
    transform: scale(1.2);
    border-bottom: solid 2px whitesmoke;
}
#marcas {
    transform: scale(1.2);
    border-bottom: solid 2px whitesmoke;
}


.subTitulo {
    h1 {
    background-color: $colorPrincipal;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 340%;
    }
    h2 {
        background: $colorSecundario;
        color: whitesmoke;
        margin: 0;
        padding: 1rem;
        text-align: center;
        font-size: 100%;
        font-weight: bolder;
    }
    h3 {
        background: $colorPrincipal;
        color: whitesmoke;
        margin: 0;
        text-align: center;
        font-weight: bolder;
    }
}
 






/* ---------------MAIN----------------*/




main {
    div {
        
        text-align: center;
    } 
    a {
        color: black;
        text-decoration: none;
    }
    p {
        font-weight: bold;
        font-size: 130%;    
    }
       
}

.articulo-completo {
    background-color: white;
    border: solid 1px rgb(178, 178, 178);
    transition: 0.3s;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 90%;
    &:hover {
        transform: scale(1.1);
    }
    .articulo-img {
        img {
            max-width: 70%;
        }
    }
}

.articulo :hover {
    font-weight: bold;
    color: $colorPrincipal;
    height: 100%;
}

button {
    background-color: $colorPrincipal;
    border-color: whitesmoke;
    color: whitesmoke;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.boton :hover {
    font-weight: bold;
    background-color: rgb(143, 9, 9) ;
}

.carrusel {
    max-width: 100%;
    overflow: hidden;
    img {
        max-width: 100%;
        height: auto;
    }
}


.descripcion-articulo {
    background-color: white;
    
    h1 {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    p {
        margin-top: 1rem;
        font-size: 2rem;
        color: $colorPrincipal;
    }
    li {
        text-align: start;
    }
    img {
        margin-top: 2rem;
        max-width: 60%;
    }
}




/* ---------------FOOTER----------------*/

.pie-de-pagina {
    background-color: $colorSecundario;
    padding-top: 1rem;
    text-align: center;
    h3 {
        transition: 0.3s;
        &:hover {
            transform: scale(1.3);
        }
    }
    a {
        color: whitesmoke;
        text-decoration: none;
    }    
}

.pie {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    .pie-font {
        transition: 0.3s;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.iconos-redes-pie {
    font-size: 200%;
}

@media (max-width: 768px) {
    .pie {
        display: flex;
        flex-direction: column;
    }  
}





/* ---------------CONTACTO----------------*/


.formulario {
    margin-top: 2rem;
}




/* ---------------UBICACION----------------*/

.ubicacion {
    background-color: $colorFondo;
    h1 {      
        text-align: start;
    }
    h2 {
        background-color: $colorPrincipal;
        color: whitesmoke;
    }
}


.local {
    background-color: $colorFondo;
    .tabla {
        background-color: $colorFondo;
    }
    .mapa{
        background-color: $colorFondo;
    }
    iframe {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .local {
        display: flex;
        justify-content: space-evenly;
    }
    .tabla {
        margin: 1rem;
    }
    .mapa {
        margin: 1rem;
    }
    
}









/* ---------------NOSOTROS----------------*/
.nosotros {
    background-color: $colorFondo;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    img {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1); 
            filter: saturate(150%);  
        }
    }
}

.parrafo {
    background-color: $colorFondo;
    p {
        font-weight: normal;
        margin-top: 1rem;
    }
 }





/* ---------------AYUDA----------------*/


.ayuda {
    margin: 2rem;
    h1, h2, h3 {
        text-align: center;
        margin: 1.5rem;
        font-weight: bold;
    }
    li {
        margin-left: 3rem;
    }
}





/* ---------------MARCAS----------------*/


.galeria {
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    img {
        
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        transition: 0.3s;
        &:hover {
            transform: scale(1.4); 
            filter: saturate(200%);  
        }
    }
}

.titulo {
    background-color: $colorFondo;
    margin: 2rem;
}

